vendor(prop, args)
  -webkit-{prop}: args
  -moz-{prop}: args
  -ms-{prop}: args
  -o-{prop}: args
  {prop}: args

border-radius()
  vendor('border-radius', arguments)

linear-gradient()
  add-property('background-image', '-webkit-linear-gradient(%s)' % unquote(join(', ', arguments)))
  add-property('background-image', '-moz-linear-gradient(%s)' % unquote(join(', ', arguments)))
  add-property('background-image', '-ms-linear-gradient(%s)' % unquote(join(', ', arguments)))
  add-property('background-image', '-o-linear-gradient(%s)' % unquote(join(', ', arguments)))
  s('linear-gradient(%s)' % unquote(join(', ', arguments)))

box-shadow()
  vendor('box-shadow', arguments)

box-flex(s = 0)
  vendor('box-flex', s)

hbox()
  display: -webkit-box
  -webkit-box-orient: horizontal
  -webkit-box-align: stretch
  -webkit-box-pack: start

  display: -moz-box
  -moz-box-orient: horizontal
  -moz-box-align: stretch
  -moz-box-pack: start

vbox()
  display: -webkit-box
  -webkit-box-orient: vertical
  -webkit-box-align: stretch

  display: -moz-box
  -moz-box-orient: vertical
  -moz-box-align: stretch

box-sizing(type)
  vendor('box-sizing', type)

transition()
  vendor('transition', arguments)

ellipsis()
  text-overflow: ellipsis
  overflow: hidden
  white-space:nowrap

box-pack(type = center)
  vendor('box-pack', arguments)

transform(tr)
  vendor('transform', arguments)

appearance()
  vendor('appearance', arguments)

user-select()
  vendor('user-select', arguments)