<!DOCTYPE html>
<html>
<head>
  <script src="/assets/admin/index.js"></script>
  <link rel="stylesheet" href="/assets/index.css" type="text/css">
  <title><%= title %></title>
</head>
<body>
  <menu>
    <ul>
      <li><a href="/admin/experiments">Experiments</a></li>
    </ul>

    <h1><a href="/">Abba</a></h1>
  </menu>

  <%== yield %>
</body>
</html>